

.container {
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}

.container hr{
    height: 2px;
    border: none;
    background: #707070;

}

.container h2 {
    font-size: 27px;
    font-weight: 500;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;

}
.container button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: #553f9a ;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius:8px;


}

.container .index{
    margin: auto;
    font-size: 18px;
}

.container .correct{
    background: #dffff2;
    border-color: #00d397;
}

.container .wrong {
    background: #ffebeb;
    border-color: #ff4a4a;
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
        padding: 40px 30px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
        padding: 40px 40px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
        padding: 40px 50px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        padding: 40px 60px;
    }
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
        padding: 40px 70px;
    }

}

/* Devices smaller than 576px */
@media (max-width: 575.98px) {
    .container {
        margin-top: 100px;
        padding: 20px 10px;
    }

    .container h2 {
        font-size: 24px;
    }

    .container ul li {
        height: 60px;
        font-size: 18px;
    }

    .container button {
        width: 100%;
        height: 55px;
        font-size: 20px;
    }

    .container .index {
        font-size: 16px;
    }
}
